[Unit]
Description=Maintainance window timer to perform updates via rpm-ostree and reboot

[Timer]
OnCalendar=Sat, *-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
