[Unit]
Description=Timer to cleanup mirrored registries caches on boot
[Timer]
OnBootSec=5min
OnCalendar=*-*-* *:00:00

[Install]
WantedBy=timers.target
