[Unit]
Description=Creates a dnsmasq container for dhcp and tftpboot service
RequiresMountsFor=%t/containers
Wants=network-online.target
After=network-online.target
Wants=dhcp-init.service
After=dhcp-init.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/usr/share/bastion_services/dhcp/dhcp_systemd.conf
ExecStartPre=-/usr/bin/podman rm -f --ignore dhcp
ExecStart=/usr/bin/podman run --name dhcp \
            --network host --cap-add NET_ADMIN --cap-add NET_RAW \
            -v "${PODMAN_DNSMASQ_BASEDIR}/etc:/etc/dnsmasq.d:Z" \
            -v "${PODMAN_DNSMASQ_BASEDIR}/tftpboot:/var/lib/tftpboot:Z" \
            -v "${PODMAN_DNSMASQ_BASEDIR}/misc:/var/lib/misc:Z" \
            ${PODMAN_DNSMASQ_IMAGE}
ExecStop=/usr/bin/podman stop --ignore dhcp
ExecStopPost=/usr/bin/podman rm -f --ignore dhcp
Restart=always
RestartSec=5
Type=simple

[Install]
WantedBy=default.target
