[Unit]
Description=Init configuration for dhcp and tftpboot with dnsmasq
RequiresMountsFor=%t/containers
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/.dhcp-configured

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/usr/share/bastion_services/dhcp/dhcp_systemd.conf
ExecStartPre=/usr/bin/dhcp-init.sh
ExecStart=/bin/touch /var/.dhcp-configured
Restart=on-failure
RestartSec=5
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target
