[Unit]
Description=Init configuration for dhcp and tftpboot with dnsmasq
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
ConditionPathExists=!/var/.dhcp-configured

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/usr/share/bastion_services/dhcp/dhcp_systemd.conf
Restart=on-failure
TimeoutStartSec=300
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStartPre=/bin/bash -c '/usr/bin/dhcp-init.sh'
ExecStart=/bin/touch /var/.dhcp-configured
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=default.target
