[Unit]
Description=Creates a nginx container service
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
ConditionPathExists=|/run/net_env

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/usr/share/bastion_services/nginx/nginx_systemd.conf
EnvironmentFile=/run/net_env
ExecStartPre=/usr/bin/podman rm -f --ignore nginx
# TODO: remove the creation of the healthz file once the container image is updated to handle this endpoint
ExecStartPre=/bin/touch ${PODMAN_NGINX_BASEDIR}/healthz
ExecStart=/usr/bin/podman run --name nginx -p 80:80/tcp -p 443:443/tcp \
    --health-cmd="curl -f -s http://${ext0_IPADDR}/healthz && \
        curl -f -s http://${mgmt0_IPADDR}/healthz && \
        curl -f -s http://${baremetal_IPADDR}/healthz" \
    --health-interval=10s \
    --health-retries=3 \
    --health-on-failure=kill \
    -v ${PODMAN_NGINX_BASEDIR}:/usr/share/nginx/html:Z \
    ${PODMAN_NGINX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore nginx
ExecStopPost=/usr/bin/podman rm -f --ignore nginx
Restart=always
RestartSec=5
Type=simple

[Install]
WantedBy=default.target
