[Unit]
Description=Service does a clean up of clusters running more than 24 hours

[Service]
Type=oneshot
ExecStart=/usr/bin/clean-up.sh
StandardOutput=journal
StandardError=journal
RestartSec=10
Restart=on-failure


