[Unit]
Description=Prepare the squid proxy container configuration
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
ConditionPathExists=!/var/.squid-configured

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/usr/share/bastion_services/squid/squid_systemd.conf
ExecStartPre=/bin/bash -c '/usr/bin/mkdir -p ${PODMAN_SQUID_BASEDIR}/{cache,log,etc,lib}'
ExecStartPre=/usr/bin/chown -R ${PODMAN_SQUID_UID}:${PODMAN_SQUID_UID} ${PODMAN_SQUID_BASEDIR}
ExecStartPre=/usr/bin/podman run --rm --user ${PODMAN_SQUID_UID} \
    -v "${PODMAN_SQUID_BASEDIR}/lib:/var/lib:Z" \
    --entrypoint /usr/lib64/squid/security_file_certgen \
    ${PODMAN_SQUID_IMAGE} -c -s /var/lib/ssl_db -M 4
ExecStart=/bin/touch /var/.squid-configured
RemainAfterExit=no
Restart=on-failure
RestartSec=10
Type=oneshot

[Install]
WantedBy=default.target
